html{
  height: 100%
}

body{
  background-color: white;
  font-family: sans-serif;
  font-weight: lighter;
  min-height: 100%;
  color: #727272;
}

.lin{
  float: center;
  display: inline-block;
  padding: 1.1px;
}

.flex-container, html, body{
  display: flex;
  flex-flow: row nowrap;
  padding: 0px;
  height: 100%;
  width: 100%;
  margin: 0;

}


.box1{
  width: 40%;
  height: 100%;
  padding: 10px;
  background: #f8fff7;

  }

  .boxtext{
    color: grey;
    font-weight: bold;
    font-size: 2em;
    text-align: center;

  }

.par{
  font-weight: thin;
  font-size: small;
  text-align: center;
  letter-spacing: 1;
  text-align: center;
  text-align: justify;
  padding: 20px;

}




.box2{
background: #63A6FF;
 /*padding: 5px;*/
 width: 60%;
 height: 100%;
 margin-top: 0px;
 display: flex;
 flex-direction: column;
 overflow-y: scroll;
}

.twoa{
  background: #63a6ff;
  height: 1500%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}

.twob{
  background: white;
  height: 1500%;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}

.twoc{
  background: green;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}

.twod{
  background: yellow;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}

.twoe{
  background: white;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}

.twof{
  background: white;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  text-align: center;

}



.footer{
 text-align: center;
 font-size: x-small;
 line-height: 1.5px;

}
