html{
  height: 100%
}

body{
  background-color: white;
  font-family: sans-serif;
  font-weight: lighter;
  min-height: 100%;
  color: #727272;
}

.header {
  display: flex;
  background-color:white;

}
.headerbox {
 margin: 20px;
 padding: 20px;
 font-weight: bold;
 align-items: right;
 text-align: right;
}

.skills{
   font-weight: bold;
   text-align: right;
   font-size: small;
  }

.lin{
  float: right;
  display: inline-block;
  padding: 1.1px;
}

 .line{
   height: 10px;
 	border: 0;
 	box-shadow: 0 10px 10px -10px #63a6ff inset;
 }


 .mainimg {
 display: flex;
 background-color: white;
 align-items: center;
 }

 .photo{
  height: auto;
 width: 100%;
 box-shadow:  8px 9px 19px 1px rgba(89,89,89,1);

 }


.feature{
  text-align: center;
  }


.flex-container{
  display: flex;
  flex-wrap:wrap;
  padding: 0px;

}
.box1{
  width: 333px;
  padding: 20px;
  text-align: center;
  background: white;
  line-height: 1.5px;
  color: grey;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

.box2{
background: tomato;
 padding: 5px;
 width: 860px;
 height: 800px;
 margin-top: 0px;

 line-height: 150px;
 color: white;
 font-weight: bold;
 font-size: 3em;
 text-align: center;
}




.footer{
 text-align: center;
 font-size: x-small;
 line-height: 1.5px;
}
